:root {
  --main-color: #212121;
  --main-second-color: #2196f3;
  --mail-color: #757575;
  --portfolio-main-color: #212121;
  --portfolio-text-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/*-------------------- section header -----------------*/
.header-container {
  display: flex;
  align-items: center;
  padding: 34px 15px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-logo {
  color: var(--main-color);
}

.header-webstudio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-second-color);
  margin-right: 90px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.header-links {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-links .header-link.current {
  color: var(--main-second-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--main-second-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-mail {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--mail-color);
  margin-right: 50px;
}
.header-mail:hover,
.header-mail:focus {
  color: var(--main-second-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--mail-color);
}

.header-tel:hover {
  color: var(--main-second-color);
}

/*------------------- section bussines ----------------*/

.bussines {
  background: #2f303a;
  text-align: center;
  padding: 200px 0;
}

.bussines-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  align-items: center;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.bussines-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  background: var(--main-second-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 32px;
  border: none;
}

.bussines-button:hover {
  background-color: grey;
}

/*------------------ section proposition --------------*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.proposition {
  padding-top: 94px;
  padding-bottom: 94px;
}

.proposition-list {
  display: flex;
  box-sizing: border-box;
}
.proposition-item:not(:last-child) {
  margin-right: 30px;
}
.proposition-item {
  text-align: left;
  width: 270px;
}

.proposition-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-color);
  margin-bottom: 10px;
}

.proposition-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  box-sizing: border-box;
}
/*--------------------- section doing -----------------*/
.doing {
  padding-bottom: 94px;
}
.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;

  color: var(--main-color);
}

.doing-list {
  display: flex;
}
.doing-item:not(:last-child) {
  margin-right: 30px;
}

/*------------------- section Team -------------------*/

.section-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-color);
  margin-bottom: 50px;
}

.team-list {
  text-align: center;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-item {
  box-sizing: border-box;
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-div {
  padding: 30px 0;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;

  color: var(--main-color);
}

.team-text {
  line-height: 19px;
  letter-spacing: 0.03em;

  color: #757575;
}

/*------------------ section footer -------------------*/
.footer {
  background-color: #2f303a;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-webstudio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-second-color);
}

.footer-logo {
  color: white;
}

.footer-address {
  font-style: normal;
  margin-top: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.address:not(:last-child) {
  margin-bottom: 9px;
}
/*--------------- ПОРТФОЛІО -----------------*/

.main {
  margin-top: 94px;
  padding-bottom: 94px;
}
.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.buttons-button:hover,
.buttons-button:focus {
  color: white;
  background-color: var(--main-second-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: transparent;
}
.buttons-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-right: 8px;
  border-radius: 4px;
  border-color: transparent;
  color: #212121;
  cursor: pointer;
  padding: 6px 22px;
}

/*.images-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
*/

/*.main-images {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
*/
/*
.images-div {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}*/

/*.portfolio-item {
  margin-bottom: 30px;
}
.portfolio-item:nth-last-of-type(-n + 3) {
  margin-bottom: 0;
}*/

.images-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;

  color: var(--portfolio-main-color);
}

.images-text {
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;

  color: var(--portfolio-text-color);
}


.portfolio-list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;

}

.portfolio-list > .portfolio-item{
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.card-content{
    padding: 20px 24px;
    border: 1px solid #EEEEEE
}












